{% extends 'base.html.twig' %}

{% block title %}PROFILE{% endblock %}

{% block body %}

    <div class="profile-navbar">

    </div>

    <div class="profile-background">
        <div class="profile-picture">

        </div>

        <div class="profile-username">

        </div>

        <div class="profile-member-since">

        </div>
    </div>






{% endblock %}