{% extends 'base.html.twig' %}

{% block title %}BATTLESHIP!{% endblock %}


{% block body %}
    <h1>BATTLESHIP</h1>

    <a href="/createMatch"><div class="button-create-match">Create Match</div></a>
{% endblock %}