body {
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
    font-family: 'Roboto Mono', monospace;
    background-color: dimgray;

    margin: 0 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h3 {
    font-size: 35px;
    margin: 30px 0;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button-create-match {
    position: absolute;
    width: 125px;
    text-align: center;
    margin-left: 89vw;
    margin-top: -75px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 2px;
    color: greenyellow;
    background-color: #494949;
    cursor: grab;
}

.button-create-match:hover {
    color: #aaff1f;
    background-color: #3a3a3a;
}

.join {
    margin-top: 25px;
}

.home {
    margin-top: 0;
    margin-left: 20px;
}

.form-section-create-match {
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.modal-create-match {
    display: none;
    background-color: rgba(248, 248, 255, 0.5);
    margin-top: 30vh;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    height: 450px;
}

.form-select-button-create-match {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 25px;
    color: black;
    background-color: white;
    text-shadow: -1px -1px 0 #969696FF, 1px -1px 0 #969696FF, -1px 1px 0 #969696FF, 1px 1px 0 #969696FF;
}

.form-select-button-create-match:hover {
    background-color: darkgray;
    cursor: grab;
}

.button-submit-create-match {
    width: 200px;
    margin-top: 50px;
    margin-left: 30%;
    text-align: center;
    border: 1px solid black;

    font-size: 30px;
    color: greenyellow;
    background-color: #494949;
    cursor: grab;
    border-radius: 2px;
}

.button-submit-create-match:hover {
    color: #aaff1f;
    background-color: #3a3a3a;
}

.modal-close-button {
    margin-top: -100px;
    margin-left: 450px;
    position: absolute;
    width: 35px;
    height: 35px;
    color: red;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.modal-close-button:hover {
    background-color: lightgray;
    cursor: grab;
}

.selected-ship {
    background-color: darkgray;
}

.selected-shot {
    background-color: darkgray;
}

.boats {
    background: linear-gradient(90deg, rgba(103, 103, 103, 1) 0%, rgba(145, 145, 145, 1) 100%);
    margin-bottom: 20px;
}

.boats:hover {
    background: linear-gradient(90deg, rgba(84, 84, 84, 1) 0%, rgba(147, 147, 147, 1) 100%);
}

.boats:active {
    background: linear-gradient(90deg, rgba(61, 61, 61, 1) 0%, rgba(113, 113, 113, 1) 100%);
}

.boats-button {
    /*background: linear-gradient(90deg, rgba(103, 103, 103, 1) 0%, rgba(145, 145, 145, 1) 100%);*/
    width: 125px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 2px;
    color: greenyellow;
    background-color: #494949;
    cursor: grab;
}

.boats-button:hover {
    background: linear-gradient(90deg, rgba(84, 84, 84, 1) 0%, rgba(147, 147, 147, 1) 100%);
    cursor: grab;
}

.boats-button:active {
    background: linear-gradient(90deg, rgba(61, 61, 61, 1) 0%, rgba(113, 113, 113, 1) 100%);
}

.grid-options {
    display: flex;
    flex-direction: column;
}

.send-or-reset {
    display: inline-flex;
    justify-content: center;
}

.vertical-checkbox {
    display: inline-flex;
    justify-content: center;
}

.status-box {
    padding: 6px 12px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 24vw;
    height: 6vh;
    background-color: white;
    border: 1px solid black;

    text-align: center;
    font-size: 24px;
}

.menu-line {
    width: 100vw;
    height: 2px;
    background-color: black;
    margin: 18px 0;
    padding: 0 0;
    border: 1px solid black;
}

.matches {
    position: absolute;
    margin-left: 85vw;
    height: 100vh;
    width: 15vw;
    padding: 0 0;
    border: 5px solid black;
}

.matches-line {
    margin-left: 85vw;
    width: 15vw;
    background-color: black;
    border: 1px solid black;
}

.battle-title {
    font-size: 30px;
    margin-left: 10px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.battle-participants {
    font-size: 15px;
    margin-left: 10px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button-spectate {
    position: absolute;
    border: 1px solid black;
    width: 50px;
    padding: 10px 20px;
    margin-left: 225px;
    margin-top: -50px;
    text-align: center;
    background-color: white;
}

.button-spectate:hover {
    background-color: lightgray;
    cursor: grab;
}





.coin-flip-container{
    display: none;
    background-color: #ffffff;
    width: 400px;
    padding: 35px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: 15px 30px 35px rgba(0,0,0,0.1);
    border-radius: 10px;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.stats{
    display: flex;
    color: #101020;
    font-weight: 500;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 55px;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
    text-align: center;

}
.stats p:nth-last-child(1){
    text-align: center;
}

.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 32px auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.coin img{
    width: 145px;
}
.heads,.tails{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.tails{
    transform: rotateX(180deg);
}
@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}