body {
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
    /*font-family: 'Roboto Mono', monospace;*/
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(-45deg, #cd3299, #2d2d2d, #343434, yellowgreen);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;

    margin: 0 0;
    overflow-y: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

a {
    text-decoration: none;;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 1vw 0;
    padding: 0 0;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h3 {
    font-size: 35px;
    margin: 30px 0;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button-home {
    position: absolute;
    margin-left: 25px;
    font-size: 30px;
    width: 200px;
    text-align: center;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    padding: 5px 0;
    color: yellowgreen;
    background-color: black;
    cursor: grab;
}

.form-section-create-match {
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.modal-create-match {
    z-index: 2;
    display: none;
    background-color: rgba(248, 248, 255, 0.5);
    margin-top: 30vh;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    height: 450px;
}

.form-select-button-create-match {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 25px;
    color: black;
    background-color: white;
    text-shadow: -1px -1px 0 #969696FF, 1px -1px 0 #969696FF, -1px 1px 0 #969696FF, 1px 1px 0 #969696FF;
}

.form-select-button-create-match:hover {
    background-color: darkgray;
    cursor: grab;
}

.button-submit-create-match {
    width: 200px;
    margin-top: 50px;
    margin-left: 30%;
    text-align: center;
    border: 1px solid black;

    font-size: 30px;
    color: greenyellow;
    background-color: #494949;
    cursor: grab;
    border-radius: 2px;
}

.button-submit-create-match:hover {
    color: #aaff1f;
    background-color: #3a3a3a;
}

.modal-close-button {
    margin-top: -100px;
    margin-left: 450px;
    position: absolute;
    width: 35px;
    height: 35px;
    color: red;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.modal-close-button:hover {
    background-color: lightgray;
    cursor: grab;
}

.selected-ship {
    background-color: darkgray;
}

.selected-shot {
    background-color: darkgray;
}

.boats {
    background: linear-gradient(90deg, rgba(103, 103, 103, 1) 0%, rgba(145, 145, 145, 1) 100%);
    margin-bottom: 20px;
}

.boats:hover {
    background: linear-gradient(90deg, rgba(84, 84, 84, 1) 0%, rgba(147, 147, 147, 1) 100%);
}

.boats:active {
    background: linear-gradient(90deg, rgba(61, 61, 61, 1) 0%, rgba(113, 113, 113, 1) 100%);
}

.boats-button {
    /*background: linear-gradient(90deg, rgba(103, 103, 103, 1) 0%, rgba(145, 145, 145, 1) 100%);*/
    width: 125px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 2px;
    color: greenyellow;
    background-color: #494949;
    cursor: grab;
}

.boats-button:hover {
    background: linear-gradient(90deg, rgba(84, 84, 84, 1) 0%, rgba(147, 147, 147, 1) 100%);
    cursor: grab;
}

.boats-button:active {
    background: linear-gradient(90deg, rgba(61, 61, 61, 1) 0%, rgba(113, 113, 113, 1) 100%);
}

.grid-options {
    display: flex;
    flex-direction: column;
}

.send-or-reset {
    display: inline-flex;
    justify-content: center;
}

.vertical-checkbox {
    margin-top: -45px;
    display: inline-flex;
    justify-content: center;
}

.status-box {
    padding: 6px 12px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 35vw;
    height: 6vh;
    background-color: white;
    border: 1px solid black;

    text-align: center;
    font-size: 24px;
}

.menu-line {
    width: 100vw;
    height: 2px;
    background-color: black;
    margin: 18px 0;
    padding: 0 0;
    border: 1px solid black;
}

/*.matches {*/
/*    position: absolute;*/
/*    margin-left: 85vw;*/
/*    height: 100vh;*/
/*    width: 15vw;*/
/*    padding: 0 0;*/
/*    border: 5px solid black;*/
/*}*/

/*.matches-line {*/
/*    margin-left: 85vw;*/
/*    width: 15vw;*/
/*    background-color: black;*/
/*    border: 1px solid black;*/
/*}*/

.ship {
    background-size: 100% 100% !important;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cells {
    background-image: url(/public/img/stars.jpg);
    background-size: 200% 200%;
    color: transparent;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.cell {
    background-image: url(/public/img/stars.jpg);
    background-size: 200% 200%;
    color: transparent;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

@media (max-width: 1200px) {
    .ship {
        width: 40px;
        height: 40px;
    }

    .cell {
        width: 40px;
        height: 40px;
    }

    .cells {
        width: 40px;
        height: 40px;
    }

    .status-box {
        font-size: 20px;
        width: 40vw;
    }
}

@media (max-width: 950px) {
    .ship {
        width: 30px;
        height: 30px;
    }

    .cell {
        width: 30px;
        height: 30px;
    }

    .cells {
        width: 30px;
        height: 30px;
    }

    .status-box {
        font-size: 16px;
        width: 50vw;
    }
}


.main-container {
    width: 100vw;
    height: 90vh;
    display: inline-flex;
}

.leaderboard-container {
    display: flex;
    justify-content: space-evenly;
    width: 79%;
    margin-left: 1%;
    height: 100%;
}

.leaderboard {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.matches {
    width: 18%;
    margin: 0 1%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.buttons {
    width: 100%;
    height: 5%;
    display: inline-flex;
}

.button-create-match {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    width: 50%;
    text-align: center;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    padding: 5px 0;
    color: yellowgreen;
    background-color: black;
    cursor: grab;
}

.button-create-match:hover {
    color: #aaff1f;
    background-color: #282828;
}

.matches-container {
    width: 100%;
    height: 40%;
    overflow-y: auto;
}

.matches-container::-webkit-scrollbar {
    display: none;
}

.match {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 9px;
    margin-bottom: 5px;
    width: 99%;
    height: 25%;
    background-color: rgba(112, 112, 112, 0.2);
}

.match:hover {
    background-color: rgba(112, 112, 112, 0.4);
    cursor: grab;
}

.match:active {
    background-color: rgba(173, 255, 47, 0.07);
}

.battle-title {
    padding: 0 0;
    margin: 0 0;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.battle-participants {
    padding: 0 0;
    margin: 0 0;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.matches-container-title {
    background-image: url(/public/img/ship.png);
    border: 2px solid white;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 99%;
    height: 5%;
    color: yellowgreen;
    /*background: radial-gradient(circle, rgba(0, 46, 0, 0.5) 0%, rgba(0,0,0,1) 100%);*/
    margin: 1.25% 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.15em);
    transition-duration: 0.5s;
}

.raise {
    --color: #ffa260;
    --hover: #e5ff60;
}

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');

table::-webkit-scrollbar {
    display: none;
}

table {
    border-top: 4px solid yellowgreen;
    background: #3434347F;
    color: #fff;
    opacity: 0.9;
    font-family: 'Rubik', sans-serif;
    /* center the table horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* position relative to include a band on the left of the container */
    position: relative;
    /* cap the width of the table, allowing for a sizeable portion of white space if allowed by the viewport */
    width: 100%;
    /*width: calc(90vw - 2rem);*/
    /*max-width: 800px;*/
    /* spacing to separate the table rows vertically */
    border-spacing: 0 1rem;
}


/* center every element nested in a table row */
table tr > * {
    text-align: center;
    padding: 0.5rem;
}

/* align every second item of each row to the left */
table tr > *:nth-child(2) {
    text-align: left;
}


/* style the headings to have thin uppercase titles for the columns */
table th {
    font-weight: 300;
    letter-spacing: 0.04rem;
    font-size: 0.9rem;
    color: #eee;
    text-transform: uppercase;
}

/* slightly increase the weight of the cell describing the position */
table td.position {
    font-weight: 500;
}

/* style the cell with the driver visually separating the first, last name and team */
table td.driver {
    padding-left: 1rem;
    padding-right: 12rem;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}

table td.driver strong {
    text-transform: uppercase;
    font-weight: 500;
}

table td.driver span {
    text-transform: capitalize;
    margin-left: 0.75rem;
    font-size: 0.8rem;
    color: #999;
    letter-spacing: initial;
}

/* style the span nested in the last cell to have the gap in a rounded rectangle */
table td.gap span {
    color: yellowgreen;
    background: #38383F;
    border-radius: 30px;
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}

table td span {
    color: #cd3299;
}

/* on smaller viewports remove the third column from sight */
@media (max-width: 1050px) {

    table {
        width: 90%;
    }

    table tr > *:nth-child(1) {
        display: none;
    }

    table td.driver {
        padding-right: 5rem;
    }
}

@media (max-width: 1300px) {
    table {
        white-space: nowrap;
    }

    .battle-title {
        font-size: 20px;
    }

    .battle-participants {
        font-size: 15px;
    }

    .match {
        width: 97%;
        height: 20%;
    }

    .matches-container-title {
        font-size: 20px;
        width: 97%;
    }

    .surrender {
        margin-top: 75px;
        margin-left: 25px !important;
    }
}


.coin-flip-container {
    z-index: 500;
    display: none;
    background-color: #ffffff;
    width: 400px;
    padding: 35px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 15px 30px 35px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.stats {
    display: flex;
    color: #101020;
    font-weight: 500;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 55px;
    box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
    text-align: center;

}

.stats p:nth-last-child(1) {
    text-align: center;
}

.coin {
    height: 150px;
    width: 150px;
    position: relative;
    margin: 32px auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.coin img {
    width: 145px;
}

.heads, .tails {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tails {
    transform: rotateX(180deg);
}

@keyframes spin-tails {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(1980deg);
    }
}

@keyframes spin-heads {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(2160deg);
    }
}




.profile-background {
    width: 100%;
    height: 18%;

    border-top: 1px solid black;
    border-bottom: 1px solid black;

    display: inline-flex;
    justify-content: space-evenly;

    background-image: url(/public/img/profileBackground.png);
    background-size: 100% 100%;
}

.profile-background-left-section {
    width: 60%;

    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile-background-right-section {
    width: 40%;
}

.profile-navbar {
    width: 100%;
    height: 5%;
}

.profile-picture {
    background-size: 100% 100%;

    border: 2px solid black;
    width: 200px;
    height: 200px;
    border-radius: 100px;

    background-color: white;
}

.profile-text {

}

.profile-username {
    text-transform: uppercase;
    font-size: 50px;
    margin: 0 0;
    padding: 0 0;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 3px -3px 0 #cd3299, 1px 1px 0 #000;
}

.profile-member-since {
    font-size: 25px;
    margin: 0 0;
    padding: 0 0;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 2px -2px 0 yellowgreen, 1px 1px 0 #000;
}

.profile-badges {
    display: flex;
    justify-content: space-evenly;
}

.profile-badges-title {
    text-align: center;
    font-size: 35px;
    margin: 20px 0;
    padding: 0 0;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 3px -3px 0 #3a3a3a, 1px 1px 0 #000;
}

.profile-badge {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    background-size: 100% 100%;
    filter: drop-shadow(0 0 0.75rem rgb(0, 140, 255));
    animation: pulse 2s linear infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media (max-width: 1100px) {
    .profile-badges > *:nth-child(6) {
        display: none;
    }
}

.profile-badge-small {
    width: 75px;
    height: 75px;
    margin-top: -10px;
    border-radius: 15px;
    background-size: 100% 100%;
    align-self: center;
    filter: drop-shadow(0 0 0.75rem #cd3299);
    animation: pulse 2s linear infinite;
}

.profile-stats {
    margin-top: 75px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100%;
    height: 15%;

    display: inline-flex;
}

.profile-stat {
    width: 33.33%;
    height: 100%;
    text-align: center;
    font-size: 25px;
    background-color: rgba(52, 52, 52, 0.5);
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 3px -3px 0 #3a3a3a, 1px 1px 0 #000;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stat-text {
    font-size: 30px;
    margin: 0 0;
    padding: 0 0;
}

.profile-history {
    width: 100%;
    height: auto;

    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 75px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -150px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.change-profile-picture-button {
    font-size: 15px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 2px -2px 0 #3a3a3a, 1px 1px 0 #000;
    width: fit-content;
    padding: 5px 5px;
}

.change-profile-picture-button:hover {
    cursor: grab;
}

.profile-picture-modal-container {
    width: 100%;
    height: fit-content;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 500;
}

.profile-picture-modal {
    width: 75%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile-picture-modal-element {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 25px 25px;
    background-size: 100% 100%;
}

.profile-picture-modal-element:hover {
    animation: pulse 2s linear infinite;
    cursor: grab;
}

.surrender {
    border-color: #cd3299;
    margin-left: 250px;
}
